body {
    background-color: #c2c8ce;
    color: #303438;
}

a {
    color: #303438;
    text-decoration: none;
}

header {
    margin: 4em;
    border-radius: 1em;
    overflow: hidden;
}

@media only screen and (max-width: 600px) {
    header {
        margin-top: 2em;
        margin-left: 2em;
        margin-right: 2em;
    }
}

@media only screen and (min-width: 1920px) {
    header {
        margin-left: auto;
        margin-right: auto;
        width: calc(1920px - 8em);
    }
}

#authors_list {
    display: flex;
    flex-wrap: wrap;
}

#tags_list {
    display: flex;
    flex-wrap: wrap;
}

#contents_container {
    margin-top: 4em;
    margin-left: 2em;
    margin-right: 2em;
}

@media only screen and (max-width: 600px) {
    #contents_container {
        margin-left: 0;
        margin-right: 0;
    }
}

@media only screen and (min-width: 1920) {
    #contents_container {
        margin-left: auto;
        margin-right: auto;
        width: calc(1920px - 4em);
    }
}

#contents_wrapper {
    opacity: 1;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

#contents_wrapper>div {
    width: 100%;
    padding-left: 2em;
    padding-right: 2em;
}

#page_indicator_container {
    margin-top: 1em;
    margin-left: 4em;
    margin-right: 4em;
    margin-bottom: 4em;
}

#page_indicator {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#popup_background {
    display: none;
    width: 100%;
}

#popup {
    position: relative;
    z-index: 1;
    margin: 4em;
    border-radius: 1em;
    overflow: hidden;
}

@media only screen and (max-width: 600px) {
    #popup {
        margin: 2em;
    }
}

@media only screen and (min-width: 1920) {
    #popup {
        margin-left: auto;
        margin-right: auto;
        width: calc(1920px - 8em);
    }
}

#popup_content {
    width: 100%;
    height: 960px;
}

.filter_container {
    display: flex;
}

.enabled {
    color: coral;
}

.disabled {
    color: cornflowerblue;
}

.column>div {
    margin-bottom: 4em;
}

.thumbnail {
    width: 100%;
    height: auto;
    display: block;
}

.card {
    position: relative;
    z-index: 1;
    border-radius: 1em;
    overflow: hidden;
}

.page_button {
    position: relative;
    z-index: 1;
    margin-left: 1em;
    margin-right: 1em;
    border-radius: 50%;
    overflow: hidden;
    width: 3em;
    height: 3em;
}

.page_button>a {
    display: block;
    width: 100%;
    height: 100%;
}

.page_num {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page_num.selected {
    background-color: #818a94;
    color: #d6dce2;
}

.bevel.shown {
    transition: box-shadow 750ms ease-in-out;
    box-shadow: 0.5em 0.5em 1.5em #68707888, -0.75em -0.75em 1.5em #ffffffd8, inset 0.5em 0.5em 1.5em transparent, inset -0.75em -0.75em 1.5em transparent;
}

.bevel.hidden {
    transition: box-shadow 400ms ease-in-out;
}

.bevel_content {
    opacity: 0;
}

.bevel_content.shown {
    transition: opacity 500ms ease-in-out 700ms;
    opacity: 1;
}

.bevel_content.hidden {
    transition: opacity 200ms ease-in-out;
}