html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    background: #e0e5eb;
    color: #757c83;
}

a {
    color: #757c83;
    text-decoration: none;
}

#main_view {
    padding: 4em;
    overflow: hidden;
    transition: padding 600ms ease-in-out;
}

@media only screen and (max-width: 600px) {
    #main_view {
        padding: 2em;
    }
}

@media only screen and (min-width: 1600px) {
    #main_view {
        padding-left: calc(50% - 800px + 4em);
        padding-right: calc(50% - 800px + 4em);
    }
}

#authors_list {
    margin-top: 1em;
}

#contents_container {
    margin-top: 3em;
}

#contents_wrapper {
    opacity: 1;
    margin-left: -3em;
    margin-right: 0;
    display: flex;
}

#contents_wrapper>div {
    width: 100%;
    margin-left: 3em;
}

#page_indicator_container {
    margin: 0;
}

#page_indicator {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#popup_background {
    display: none;
    width: 100%;
    height: 100%;
}

#popup_container {
    padding: 4em;
    transition: padding 600ms ease-in-out;
}

@media only screen and (max-width: 600px) {
    #popup_container {
        padding: 2em;
    }
}

@media only screen and (min-width: 1600px) {
    #popup_container {
        padding-left: calc(50% - 800px + 4em);
        padding-right: calc(50% - 800px + 4em);
    }
}

#popup {
    position: relative;
    z-index: 1;
    border-radius: 1em;
    overflow: hidden;
}

#popup_content {
    width: 100%;
    height: 960px;
}

.column>div {
    margin-bottom: 3em;
}

.thumbnail {
    position: relative;
    z-index: 1;
    border-radius: 0.5em;
    overflow: hidden;
    width: 100%;
    height: auto;
    display: block;
}

.card {
    position: relative;
    z-index: 1;
    border-radius: 1em;
    overflow: hidden;
}

.page_button {
    position: relative;
    z-index: 1;
    margin-left: 1em;
    margin-right: 1em;
    border-radius: 50%;
    overflow: hidden;
    width: 3em;
    height: 3em;
}

.page_button>a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.page_num {
    position: relative;
    z-index: 1;
    border-radius: 50%;
    overflow: hidden;
    width: 75%;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page_num.selected {
    background-color: #818a94;
    color: #d6dce2;
}

.bevel {
    position: relative;
    z-index: 1;
    border-radius: 1em;
    overflow: hidden;
    padding: 0.5em;
    width: 100%;
    height: 100%;
    transition: box-shadow 200ms ease-in-out;
}

.bevel.shown {
    transition: box-shadow 800ms ease-in-out;
    box-shadow: 0.5em 0.5em 1em #a3b1c6, -0.5em -0.5em 1em #ffffff, inset 0.5em 0.5em 1em transparent, inset -0.5em -0.5em 1em transparent;
}

.bevel.nega.shown {
    transition: box-shadow 200ms ease-in-out;
    box-shadow: 0.1em 0.1em 0.2em transparent, -0.1em -0.1em 0.2em transparent, inset 0.1em 0.1em 0.2em #a3b1c6, inset -0.1em -0.1em 0.2em #ffffff;
}

.bevel.thin.shown {
    transition: box-shadow 350ms ease-in-out;
    box-shadow: 0.25em 0.25em 0.5em #a3b1c6, -0.25em -0.25em 0.5em #ffffff, inset 0.25em 0.25em 0.5em transparent, inset -0.25em -0.25em 0.5em transparent;
}

.bevel_content {
    opacity: 0;
    transition: opacity 200ms;
}

.bevel_content.shown {
    transition: opacity 300ms;
    opacity: 1;
}

.toggle_list>p {
    opacity: 0;
    color: #abb7c0;
    font-size: x-small;
    margin-bottom: -0.3em;
    transition: opacity 300ms;
}

.toggle_list_container {
    margin-left: -8em;
    margin-right: -8em;
    display: flex;
    justify-content: left;
    align-items: center;
    overflow-x: scroll;
    scrollbar-width: none;
}

@media only screen and (min-width: 1600px) {
    .toggle_list_container {
        margin-left: calc(800px - 50vw - 8em);
        margin-right: calc(800px - 50vw - 8em);
    }
}

.toggle_list_container::-webkit-scrollbar {
    display: none;
}

.toggle_button {
    display: block;
    padding: 0.2em 1.1em 0.2em 1.1em;
    font-size: small;
    white-space: nowrap;
    transition: opacity 200ms;
}

.toggle_button.disabled {
    opacity: 0.5;
}

.toggle_bevel {
    margin: 0.75em 0.5em 0.75em 0.5em;
    border-radius: 2em;
    padding: 0;
}

.toggle_list_handle {
    flex-shrink: 0;
}

.toggle_list_spacer {
    width: 7.5em;
    height: 1em;
    flex-shrink: 0;
}

@media only screen and (min-width: 1600px) {
    .toggle_list_spacer {
        width: calc(50vw - 800px + 7.5em);
    }
}

.toggle_button_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}